@font-face {
  font-family: 'rudawregular2';
  src: url('rudawregular2.woff' ) format('woff2');
}

.btn {
  padding: 20px 40px;
  background-color: tomato;
  color: #fff;
  display: block;
  text-align: center;
  width: 100px;
  margin: 100px auto;
  font-family: 'rudawregular2';
  text-decoration: none;
}
